#heading {
  width: 100%;
  color: white;
}

#heading-image {
  width: 100%;
  height: 100%;
  border-radius: 20%;
}

.container-fluid{
  padding: 3% 15% 7%;
  background-color: #F2789F;
}

.heading-second-section{
  padding-top: 7%;
}

span{
  color: #fffdd1;
}
.brand-description{
  padding-top: 10%;
}

.product-image {
  width: 50%;
  height: 50%;
}

h1 {
  font-weight: bold;
  line-height: 1.5;
  font-size: 3.5rem;
}

p{
  font-size: 1.5rem;
}

.check-out {
  padding-top: 3%;
}

.check-out:hover {
  color: #FFD93D;
}

.order-now{
  position: relative;
  top: 40px;
  font-size: 1rem;
  font-family: sans-serif;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
  padding: 2% 6%;
  border-radius: 30px;
  border: solid 2px #DE5B7B;
  background-color: #DE5B7B;
}

.order-now:hover{
  color: #fff;
  background-color: #F2789F;
}

.navbar-container{
  background-color: #DE5B7B;
  padding-bottom: 0
}

.navbar{
  padding-bottom: 4.5rem;
}

.navbar-brand{
  font-size: 2.5rem; /* 40px */
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  font-family: cursive;
}

.navbar-brand:hover {
  color: #fff;
}

.nav-item {
  padding: 0 40px;
  font-weight: lighter;
}

.nav-link {
  border-radius: 5%;
  color: #fff;
}

.nav-link:hover{
  color: #ff2e71;
  background-color: #F999B7;
}

.flavour-img {
  width: 250px;
  height: 250px;
  position: relative;
  z-index: 1;
}

.shop-now{
  color: #7B3f00;
  border-radius: 40px;
  border: solid 2px #FFD93D;
  background-color: #fffdd1;
}

.shop-now:hover {
  background-color: #FFD93D;
}

.background{
  height: 150px;
  width: 150px;
  background-color: pink;
  border-radius: 100%;
  position: absolute;
  left: 28%;
  top: 20%;
}

.choco-background {
  background-color: #C4A484;
}

.citrus-background {
background-color: #fffd8d;
}

.strawberry-background {
  background-color: #ffb6c1;
}

.vanilla-background {
  background-color: #fffdd0;
}

#products {
  background-color: #fffdd1; /*#fffdd0*/
  padding: 8% 0;
  text-align: center;
}

#products h1, h3{
  color: #7B3f00;
}

.section-header {
  margin-bottom: 5%;
}

.product-row {
  display: inline-block;
  width: 98%;
}

.card-div p, .card-div h2{
  color: #ffffff;
  font-family: cursive;
  font-size: 1rem;
  width: 60%;
  margin: 0 auto;
}

.card-div h2 {
  color: #7B3f00;
  margin: 2px auto 6px;
}

.card-div {
  width: 350px;
  background-color: #ffffff;
  position: relative;
  border-radius: 5%;
  text-align: center;
  display: inline-block;
  margin: 2%;
  padding-bottom: 20px;
}

.card-div:hover {
  background-color: black;
  border: 2px solid black;
  opacity: 0.8;
}

.color-citrus{
  color: yellow;
}

.color-strawberry{
  color: #DE5B7B;
}

/* Pricing Section */

#pricing {
  text-align: center;
  background-color: #ffb6c1;
  padding: 5% 10% 10%;
}

.shop-card{
  position: relative;
  background-color: white;
  height: 400px;
  width: 350px;
  border-radius: 2%;
  padding: 2% 2%;
  margin: 2%;
  text-align: center;
  display: inline-block;
}

.shop-card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shop-pic {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  border: 2px solid white;
}

.add-to-cart {
  /* border: 2px solid #000; */
  width: 100%;
  margin-top: 2%;
}

.add-to-cart:hover{
  border: 2px solid #000;
}

.shop-card p {
  font-size: 1rem;
  color: black;
  width: 60%;
  font-family: cursive;
  margin: 2% auto;
}

.shop-items-container{
  width: 100%;
  margin: 5% auto;
}

.order-special {
  padding: 5% 10% 10%;
}

.order-special-container {
  background-color: #7B3f00;
  color: #fff;
  padding: 2% 6% 2% 2%;
  font-family: cursive;
  width: 60%;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}

.form-input {
  padding: 10px 10px;
  background-color: #ffff;
  border-radius: 5px;
  width: 100%;
  border: 2px solid #7B3f00;
}

.input-container {
  padding: 2%;
}

.back-to-top{
  color: #7B3f00;
  border-radius: 40px;
  border: solid 2px #FFD93D;
  background-color: #fffdd1;
  text-decoration: none;
  padding: 1% 6%;
  position: relative;
  left: 40%;
}

.back-to-top:hover {
  background-color: #FFD93D;
  color: #fff;
}

.contact-btn {
  background-color: #FFD93D;
  border: 2px solid #FFD93D;
  display: block;
  margin-bottom: 5%;
  width: 10%;
  color: #7B3f00;
  border-radius: 5px;
}

.contact-btn:hover {
  color: #7B3f00;
  background-color: #fffdd1;
}

.img-container {
  text-align: center;
}

.bottom-img{
  width: 50%;
  height: 80%;
  border-radius: 100%;
}

.order-special {
  background-color: #fffdd1;
}


#footer {
  background-color: #DE5B7B;
  text-align: right;
  padding: 5% 15%;
  color: #fff;
}

.social-icon:hover {
  color: #FFD93D;
}

#footer p {
  font-size: 1rem;
}


@media (max-width: 1020px) {
  .heading-second-section{
    text-align: center;
  }

  #products{
    padding-bottom: 15%;
  }

  .order-special-container {
    width: 70%;
  }

  .order-special-container h1 {
    font-size: 1.2rem;
  }

  .contact-btn {
    width: 30%;
  }

  .bottom-img{
    display: none;
  }

  .check-out {
    text-align: center;
  }

  .nav-link {
    text-align: center;
  }

  .back-to-top {
    padding: 3% 6%;
  }
}
