/* .shop-card{
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add-to-cart {
  /* border: 2px solid #000;
} */

/* .add-to-cart:hover{
  border: 2px solid #000;
}

p{
  color: black;
  width: 60%;
  font-family: cursive;
  margin: 2% auto;
}

.card-div {
  height: 250px;
  width: 250px;
  background-color: #fffff6;
  position: relative;
  border-radius: 5%;
  text-align: center;
}

.card-div:hover {
  background-color: black;
  opacity: 0.8;
}

.flavour-img {
  position: relative;
  z-index: 1;
}

.background{
  height: 150px;
  width: 150px;
  background-color: pink;
  border-radius: 100%;
  position: absolute;
  left: 20%;
  top: 5%;
} */
